<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>addFood</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <div class="form-horizontal">
        @using (Html.BeginForm("addFoodSearch", "Food"))
        {<div>
            <hr />
            <input type="text" id="SearchBox" name="SearchBox" hint="Search" />
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
        }

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <hr />

            foreach (var x in Model)
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <h3>@x.Name @Html.ActionLink("Add", "addFoods", new { id = x.FoodID })</h3>
            }
            <input type="submit" value="Create new food" class="btn btn-success" onclick="location.href='@Url.Action("createNewFood", "Food")'"/>

        }
    </div>
    <div>
        <hr />
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
