<h1>Foods Available</h1>
<div>
    <input type="button" class="btn btn-success" value="Add Food" onclick="location.href='@Url.Action("addFood", "Food")'" />
    @foreach (var f in Model)
    {
        <div>
            <h3>@f.Name - @f.Units @Html.ActionLink("Delete", "delete", new { id = f.FoodID }) | @Html.ActionLink("Update", "update", new {id = f.FoodID })</h3>
        </div>
    }
</div>